*{
    background: linear-gradient(90deg, #000000, #949494);
    background-size: 400% 400%;

    animation: AnimationName 10s ease infinite;

    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    letter-spacing: 2px;
    padding: 0;
    margin: 0;
}
@keyframes AnimationName {
    0%{background-position:72% 0%}
    50%{background-position:29% 100%}
    100%{background-position:72% 0%}
}
#body{
    position: relative;
    background: none;
}
#h1{
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 4px;
    text-align: center;
    padding: 6% 5% 1% 5%;
    height: auto;
}
.designbox1{
    height: 500px;
    width: 500px;
    aspect-ratio: 1;
    background: white;
    z-index: 1;

}
.button{
    height: 300px;
    width: 300px;
    aspect-ratio: 1;
    background: #000000;
    z-index: 2;
    transition: 0.3s;
}
#b1{
    clip-path: polygon(0 0,100% 100%,100% 0);
    position: fixed;
    top:0;
    right:0;
    text-align: right;
    padding-bottom: 5%;
    padding-right: 2%;
    color:rgb(0, 0, 0);
    border: 0;
}
#b1:hover{
    background: #313131;
    height: 400px;
    width: 400px;
    font-size: 40px;
    color: white;
}
#b1:active
{
    background: #313131;
    height: 300px;
    width: 300px;
    font-size: 35px;
    color: white;
}
#b2{    
    clip-path: polygon(0 0,100% 100%,0 100%);
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: left;
    padding-top: 6%;
    padding-left: 0.5%;
    color:black;
    border: 0;
}
#b2:hover{
    background: #313131;
    height: 400px;
    width: 400px;
    font-size: 30px;
    color: white;
}
#b2:active
{
    background: #313131;
    height: 300px;
    width: 300px;
    font-size: 25px;
    color: white;
}
#db11{
    clip-path: polygon(0 0,100% 100%,100% 0);
    position: fixed;
    top:0;
    right:0;
}
#db12{
    clip-path: polygon(0 0,100% 100%,0 100%);
    position:fixed;
	bottom:0;
	left:0;
	width:auto;
}
.content{
    background: none;
    font-size: 20px;
    width: 70%;
    position: relative;
    right: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 0;
}
#content1{
    background: none;
    text-align: center;
    padding: 6% 10% 5% ;
}

#content2{
    background: none;
    text-align: center;
    padding: 5% 10% 5% ;
}
